body{
  font-family: 'Courier New', Courier, monospace;
}
header{
  background-color:#FFFFFF
}

.img{
  margin-top: 30px;
}
.navbar-nav{
  padding: 5rem 5rem 5rem 5rem;
  display: inline-flex;
  padding-right: 20px;
  word-spacing: 0.235px;
  justify-content: center;
}

.nav-item{
  /* padding: 1%; */
  color: black;
}

.container-fluid{
  padding: 1% 2%;

}


#header-show{
  background-color:#3293ee ;
  
  text-align: center;
  box-sizing: 200px;
}
.header-title{
  padding-top: 5%;
  word-spacing: 1px;
  letter-spacing: 10px;
  color: aliceblue;
}
.header-mark{
  font-family: 'Rubik', sans-serif;
  color: #FFFFFF;
  padding-bottom: 20px;
}
.btn{
  color: #FFFFFF;
  border-radius: 15px;
}
.header-img{
  border: 0;
}
#lists{
  
  text-align: center;
}

.lists-item{
  text-align: center;
  


}

.lists-mark{
  font-family: 'Rubik', sans-serif;
  color:#FF7878 ;
}
.lists-para{
  max-width: 700px;
  margin-left: 22%;
  text-align: center;
  font-weight: 600;
}


